<section class='stat-block'>
    <div class='label-container character-form'>
      <label for='strenghtStat'>Strength</label>
      <input name="strenghtStat" id="strenghtStat" type="text" value="{{data.abilities.str.value}}" placeholder="{{data.abilities.str.value}}" data-dtype="Number"/>
    </div>

    <div class='label-container character-form'>
      <label for='dexStat'>Dexterity</label>
      <input name="dexStat" id="dexStat" type="text" value="{{data.abilities.dex.value}}" placeholder="{{data.abilities.dex.value}}" data-dtype="Number"/>
    </div>

    <div class='label-container character-form'>
      <label for='conStat'>Constitution</label>
      <input name="conStat" id="conStat" type="text" value="{{data.abilities.con.value}}" placeholder="{{data.abilities.con.value}}" data-dtype="Number"/>
    </div>


    <div class='label-container character-form'>
      <label for='intStat'>Intelligence</label>
      <input name="intStat" id="intStat" type="text" value="{{data.abilities.int.value}}" placeholder="{{data.abilities.int.value}}" data-dtype="Number"/>
    </div>

    <div class='label-container character-form'>
      <label for='wisStat'>Wisdom</label>
      <input name="wisStat" id="wisStat" type="text" value="{{data.abilities.wis.value}}" placeholder="{{data.abilities.wis.value}}" data-dtype="Number"/>
    </div>

    <div class='label-container character-form'>
      <label for='chaStat'>Charisma</label>
      <input name="chaStat" id="chaStat" type="text" value="{{data.abilities.cha.value}}" placeholder="{{data.abilities.cha.value}}" data-dtype="Number"/>
    </div>
</section>