<header class="sheet-header">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="200"/>
  
  <div class='sub-container'>
      <div class='label-container character-form character-name row-item'>
        <label for='characterName'>Character</label>
        <input name="name" id="characterName" type="text" value="{{actor.name}}" placeholder="Name"/>
      </div>

      <div class='label-container character-form character-level row-item level'>
        <label for='characterLevel'>Level</label>
        <input name="data.characterLevel" id="characterLevel" type="text" value="{{data.characterLevel}}" placeholder="Level"/>
      </div>

      <div class='label-container character-form item-card item row-item' data-item-id={{species.[0]._id}}>
        <label for='speciesName'>Species</label>
        <a class='item-edit' title="{{localize "swsaga.sheet.editItem"}}">{{ species.[0].name }}</a>
      </div>

      <div class='label-container character-form row-item level'>
        <label for='characterPerc'>Perc</label>
        <input name="" id="topLevelPerception" type="text" value="" placeholder="0"/>
      </div>

      <div class='label-container character-form row-item level'>
        <label for='characterInit'>init</label>
        <input name="" id="topLevelInit" type="text" value="" placeholder="0"/>
      </div>

      <div class='label-container character-form row-item level'>
        <label for='characterBA'>BA</label>
        <input name="data.attributes.baseAttack" id="topLevelBA" type="text" value="{{data.attributes.baseAttack}}" placeholder="0"/>
      </div>

      <div class='label-container character-form row-item level'>
        <label for='characterSpeed'>Speed</label>
        <input name="" id="topLevelSpeed" type="text" value="" placeholder="0"/>
      </div>

  </div>
  
  <div class='sub-container'>
      <div class='label-container character-form row-item'>
        <label for='fortDef'>Fort</label>
        <p>{{ data.fort }}</p>
      </div>

      <div class='label-container character-form row-item'>
        <label for='refDef'>Ref</label>
        <p>{{ data.ref }}</p>
      </div>

      <div class='label-container character-form row-item'>
        <label for='willDef'>Will</label>
        <p>{{ data.will }}</p>
      </div>
  </div>

  <div class='sub-container'>
    <div class='label-container hitpoints row-item'>
      <label for='hitpoints'>HP</label>
      <input name="data.attributes.hp.value" id="hitpoints" type="text" value="{{data.attributes.hp.value}}" placeholder="{{data.attributes.hp.value}}"/>
    </div>

    <div class='label-container condition row-item'>
      <input name="data.attributes.condition" id="condition" type="text" value="{{data.attributes.condition}}" placeholder="{{data.attributes.condition}}"/>
      <label for='condition'>Cond</label>
    </div>

    <div class='label-container shieldReduction row-item'>
      <label for='shieldReduction'>SR</label>
      <input name="" id="shieldReduction" type="text" value="" placeholder=""/>
    </div>

    <div class='label-container damageReduction row-item'>
      <label for='damageReduction'>DR</label>
      <input name="" id="damageReduction" type="text" value="" placeholder=""/>
    </div>

    <div class='label-container threshold row-item'>
      <label for='threshold'>DT</label>
      <input name="n" id="threshold" type="text" value="" placeholder=""/>
    </div>
  </div>
     
</header>


