<section class="character-page">

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item active" data-tab="skills">Skills</a>
    <a class="item" data-tab="force">Force Powers</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="bio">Bio and Class</a>
  </nav>
  <section class='sheet-body'>
    <section class="tab skills" data-group="primary" data-tab="skills">
      <table>
        <tr><th>Trained?</th><th>Skill</th><th>Bonus</th><th>Modifier</th></tr>
      {{#each data.skills as |skill id|}}
          <tr data-item-id="{{@key}}" class='item'>
            <td><input type='checkbox' {{#if trained}}checked{{/if}}></td>
            <td data-roll="d20+@abilities.{{@key}}.mod" data-label="{{key}}" class='rollable'>{{name}}</td>
            <td>{{mod}}</td>
            <td>{{attribute}}</td>
          </tr>
      {{/each}}
      </table>
    </section>

    <section class="tab force" data-group="primary" data-tab="force">
      {{#each force as |force id|}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}
    </section>
    
    <section class="tab inventory" data-group="primary" data-tab="inventory">
      <a class="item-create" data-type="skill" title="{{localize "swsaga.sheet.newItem"}}">
        <i class="fas fa-plus"></i>Add Item</a>
      {{#each weapons as |weapon id|}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}
      {{#each armor as |armor id|}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}
      {{#each consumables as |consumable id|}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}
      {{#each equipment as |equipment id|}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}
    </section>

    <section class="tab bio" data-group="primary" data-tab="bio">
      <div class='label-container row-item player-form'>
        <label for='characterAge'>Age</label>
        <input type='text' id='characterAge' name='data.details.age' value="{{data.details.age}}"/>
      </div>   
      <div class='label-container row-item player-form'>
        <label for='characterGender'>Gender</label>
        <input type='text' id='characterGender' name='data.details.gender' value="{{data.details.gender}}"/>
      </div>   
      <div class='label-container row-item player-form'>
        <label for='characterHeight'>Height</label>
        <input type='text' id='characterHeight' name='data.details.height' value="{{data.details.height}}" data-dtype="Number"/>
      </div>     
      <div class='label-container row-item player-form'>
        <label for='characterWeight'>Weight</label>
        <input type='text' id='characterWeight' name='data.details.weight' value="{{data.details.weight}}" data-dtype="Number"/>
      </div>      

      <div class='label-container row-item player-form'>
        {{#each class as |class id|}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}} {{id}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}
      </div>      

    </section>



  </section>

  
</section>
