<section class='feats-talents'>
  <div class='label-container character-form'>
    <label for='feats'>Feats</label>
    <div id='feats'>
      {{#each feats as |feat id|}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}
    </div>
  </div>
  <div class='label-container character-form'>
    <label for='talents'>Talents</label>
    <div id='talents'>
      {{#each talents as |talent id|}}
      {{log id}}
        <div class='item-card item' data-item-id="{{_id}}">
          <p>{{name}}</p><a class='item-delete'><i class="fas fa-times"></i></a>
        </div>
      {{/each}}</div>
  </div>
</section>