<section class='stat-block'>
  <div>
    <div class='label-container character-form'>
      <label for='forcePoint'>Force</label>
      <input name="" id="forcePoint" type="text" value="" placeholder=""/>
    </div>

    <div class='label-container character-form '>
      <label for='destPoint'>Dest.</label>
      <input name="" id="destPoint" type="text" value="" placeholder=""/>
    </div>
  </div>

  <div class='label-container character-form abilities'>
    <label for='strengthStat'>Strength</label>
    <input name="data.abilities.str.value" id="strengthStat" type="text" value="{{data.abilities.str.value}}"/>
    <div><span>{{data.abilities.str.mod}}</span></div>
  </div>

  <div class='label-container character-form abilities'>
    <label for='dexStat'>Dexterity</label>
    <input name="data.abilities.dex.value" id="dexStat" type="text" value="{{data.abilities.dex.value}}"/>
    <div><span>{{data.abilities.dex.mod}}</span></div>
  </div>

  <div class='label-container character-form abilities'>
    <label for='conStat'>Constitution</label>
    <input name="data.abilities.con.value" id="conStat" type="text" value="{{data.abilities.con.value}}"/>
    <div><span>{{data.abilities.con.mod}}</span></div>
  </div>


  <div class='label-container character-form abilities'>
    <label for='intStat'>Intelligence</label>
    <input name="data.abilities.int.value" id="intStat" type="text" value="{{data.abilities.int.value}}"/>
    <div><span>{{data.abilities.int.mod}}</span></div>
  </div>

  <div class='label-container character-form abilities'>
    <label for='wisStat'>Wisdom</label>
    <input name="data.abilities.wis.value" id="wisStat" type="text" value="{{data.abilities.wis.value}}"/>
    <div><span>{{data.abilities.wis.mod}}</span></div>
  </div>

  <div class='label-container character-form abilities'>
    <label for='chaStat'>Charisma</label>
    <input name="data.abilities.cha.value" id="chaStat" type="text" value="{{data.abilities.cha.value}}"/>
    <div><span>{{data.abilities.cha.mod}}</span></div>
  </div>

  <div class='label-container character-form'>
    <label for='characterLang'>Languages</label>
    <input name="" id="characterLang" type="text" value="" placeholder=""/>
  </div>

  <div class='label-container character-form'>
    <label for='characterCredit'>Credits</label>
    <input name="data.credits" id="characterCredit" type="text" value="{{data.credits}}" placeholder="{{data.credits}}"/>
  </div>

</section>