<div class='item-card armor-card item' style="background-image: url('systems/swSaga/icons/item-card-weapon.svg'); background-repeat: no-repeat;background-size: cover;" data-item-id={{_id}} >
    <p class='item-name'>{{name}}</p>
    <img class={{type}} src="/systems/swSaga/icons/{{data.type}}.svg">
    <p>{{data.damage}}</p>
</div>