<div class='item-card big armor-card item'
        data-item-id={{_id}} 
        style="background-image: url('systems/swSaga/icons/item-card-armor.svg'); background-repeat: no-repeat;background-size: cover;" >
    <p class='item-name'>{{data.variety}}</p>
    <img class={{type}} src="/systems/swSaga/icons/{{data.variety}}.svg">
    <p class='item-detail'>Ref (+{{data.refBonus}})</p>
</div>

