<div class='item-card big weapon-card item'
        data-item-id={{_id}} 
        style="background-image: url('systems/swSaga/icons/item-card-weapon.svg'); background-repeat: no-repeat;background-size: cover;" >
    <p class='item-name'>{{data.variety}}</p>
    
    <img class={{type}} src="/systems/swSaga/icons/{{data.variety}}.svg">
    <div class='buttons'>
        <button class='item-roll'       
            data-item-id={{_id}}
            data-roll="d20+@abilities.{{data.skillUsed}}.mod+{{actor.data.data.attributes.baseAttack}}" 
            data-label={{name}}
            data-rollType='attack'>Atk
        </button>
        <button class='item-damage'
            data-item-id={{_id}}
            data-roll={{data.damage}}
            data-label={{name}}
            data-rollType='attack'>Dmg
        </button>
    </div>
    <p class='item-detail'>{{data.damage}}</p>

    <div class='hover-info'>
        <span>{{name}}</span>
    </div>
</div>

