<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  <section>


    <table>
      <tr>
        <th>{{localize "swSaga.weapon.skillUsed" }}</th>
        <th>{{localize "swSaga.weapon.damage" }}</th>
        <th>{{localize "swSaga.weapon.stunDamage" }}</th>
        <th>{{localize "swSaga.weapon.weight" }}</th>
        <th>{{localize "swSaga.weapon.damageType" }}</th>
        <th>{{localize "swSaga.weapon.availability" }}</th>
        <th>{{localize "swSaga.weapon.weaponWield" }}</th>
        <th>{{localize "swSaga.weapon.weaponGroup" }}</th>
        <th>{{localize "swSaga.weapon.range" }}</th>
      </tr>
      <tr>
        {{log config}}
        <td>
          <select name="data.skillUsed">
            {{#select data.skillUsed}}
            {{#each config.skillUsed as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>
        <td>
          <input name="data.damage" type='text' value="{{data.damage}}"  />
        </td>
        <td>
          <input name="data.stunDamage" type='text' value="{{data.stunDamage}}"  />
        </td>
        <td>
          <input name="data.weight" type='text' value="{{data.weight}}"  />
        </td>
        <td><input name="data.damageType" type='text' value="{{data.damageType}}"  />
        </td>
        <td>
          <input name="data.availability" type='text' value="{{data.availability}}"  />
        </td>
        <td>
          <input name="data.weaponWield" type='text' value="{{data.weaponWield}}"  />
        </td>
        <td>
          <input name="data.weaponGroup" type='text' value="{{data.weaponGroup}}"  />
        </td>
        <td>
          <input name="data.range" type='text' value="{{data.range}}"  />
        </td>
        <td>
          <input name="data.type" type='text' value="{{data.type}}"  />
        </td>
      </tr>
    </table>

  </section>
</form>