<form class="{{item.type}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
        <h5><input name="name" id="itemName" type="text" value="{{item.name}}" placeholder="Name"/></h5>
        <div class='label-container'><label for='weaponType'>{{localize "swSaga.weapon.type" }}</label><input id='weaponType' name="data.type" type='text' value="{{data.type}}"/></div>
  </header>
  
  <section>
    <div class='item-container'>
      {{!-- Main Stats --}}>
          {{!-- flex 1 --}}
          <div>
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class='label-container'>
              <label for='skillUsed'>{{localize 'swSaga.weapon.skillUsed' }}</label>
              <select id='skillUsed' name="data.skillUsed">
                {{#select data.skillUsed}}
                {{#each config.skillUsed as |name type|}}
                  <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
            <div class='label-container'>
              <label for='weaponDamage'>{{localize 'swSaga.item.damage' }}</label><input id='weaponDamage' name="data.damage" type='text' value="{{data.damage}}"/>
            </div>
            <div class='label-container'>
              <label for='stunDamage'>{{localize "swSaga.item.stunDamage" }}</label>
              <input id='stunDamage' name="data.stunDamage" type='text' value="{{data.stunDamage}}"/>
            </div>
            <div class='label-container'>
              <label for='weaponDamageType'>{{localize "swSaga.item.damageType" }}</label>
              <input id='weaponDamageType' name="data.damageType" type='text' value="{{data.damageType}}"/>
            </div>
              <div class='label-container'><label for='weaponWield'>{{localize "swSaga.item.weaponWield" }}</label>
              <input id='weaponWield' name="data.weaponWield" type='text' value="{{data.weaponWield}}"/>
            </div> 
          </div>   
          {{!-- flex 2 --}}
          <div class='description-fields'>
            <div class='label-container'>
              <label for='weaponDescription'>{{localize "swSaga.item.description" }}</label>
              <textarea id='weaponDescription' name="data.description">{{data.description}}</textarea>
              </div>
            <div class='label-container'>
              <label for='itemAvailability'>{{localize "swSaga.item.availability" }}</label>
              <input id='itemAvailability' name="data.availability" type='text' value="{{data.availability}}"/>
              </div>
            <div class='label-container'>
              <label for='weaponGroup'>{{localize "swSaga.item.weaponGroup" }}</label>
              <input id='weaponGroup' name="data.weaponGroup" type='text' value="{{data.weaponGroup}}"/>
              </div>
            <div class='label-container'>
              <label for='weaponWeight'>{{localize "swSaga.item.weight" }}</label>
              <input id='weaponWeight' name="data.weight" type='text' value="{{data.weight}}"/>
            </div>
            <div class='label-container'>
              <label for='weaponRange'>{{localize "swSaga.item.range" }}</label>
              <input id='weaponRange' name="data.range" type='text' value="{{data.range}}"/>
            </div>     
            <div class='label-container'>
              <label for='weaponCost'>{{localize "swSaga.item.cost" }}</label>
              <input id='weaponCost' name="data.cost" type='text' value="{{data.cost}}"/>
            </div>
            <div class='label-container'>
              <label for='refBonus'>{{localize 'swSaga.armor.refBonus' }}</label>
              <input id='refBonus' name="data.refBonus" type='text' value="{{data.refBonus}}"/>
            </div>
            <div class='label-container'>
              <label for='fortDef'>{{localize 'swSaga.armor.fortDef' }}</label>
              <input id='fortDef' name="data.fortDef" type='text' value="{{data.fortDef}}"/>
            </div>
            <div class='label-container'>
              <label for='maxDex'>{{localize 'swSaga.armor.maxDex' }}</label>
              <input id='maxDex' name="data.maxDex" type='text' value="{{data.maxDex}}"/>
            </div>
            <div class='label-container'>
              <label for='speedReduction'>{{localize "swSaga.armor.speedReduction" }}</label>
              <input id='speedReduction' name="data.speedReduction" type='text' value="{{data.speedReduction}}"/>
            </div>
          </div>

    </div>    
  </section>
</form>