<form class="{{item.type}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-fields">
        <h5><input name="name" id="itemName" type="text" value="{{item.name}}" placeholder="Name"/></h5>
        <div class='label-container'><label for='armorType'>{{localize "swSaga.armor.type" }}</label><input id='armorType' name="data.type" type='text' value="{{data.type}}"/></div>
  </header>
  <section>
    <div class='item-container'>
      <div>
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div>
          <div>
            <div class='label-container'><label for='armorAvail'>{{localize "swSaga.armor.availability" }}</label><input id='armorAvail' name="data.availability" type='text' value="{{data.availability}}"/></div>
            <div class='label-container'><label for='armorSize'>{{localize "swSaga.armor.size" }}</label><input id='armorSize' name="data.armorSize" type='text' value="{{data.armorSize}}"/></div>
            <div class='label-container'><label for='armorCost'>{{localize "swSaga.armor.cost" }}</label><input id='armorCost' name="data.armorCost" type='text' value="{{data.armorCost}}"/></div>
          </div>
          <div>
            <div class='label-container'><label for='armorDescription'>{{localize "swSaga.item.description" }}</label><textarea id='armorDescription' name="data.description">{{data.description}}</textarea></div>
          </div>
        </div>
      </div>
      <div>
        
      </div>
     
    </div>    
  </section>
</form>