<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  <section>
    <table>
      <tr>
        <th>{{localize "swSaga.consumables.name" }}</th>
        <th>{{localize "swSaga.consumables.description" }}</th>
      </tr>
      <tr>
        <td>
          <input name="data.name" type='text' value="{{data.name}}"  />
        </td>
        <td>
          <input name="data.description" type='text' value="{{data.description}}"  />
        </td>
      </tr>
    </table>

  </section>
</form>